<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework" level="WARN"/>
    <logger name="com.pastdev.jsch" level="WARN"/>
    <logger name="com.kixeye.analytics.offertool" level="TRACE"/>
</configuration>